/* #addToCart{

  position: relative;

  z-index:10;
bottom:70px;
left:160px;
  background-color: rgb(197, 191, 191);
  height:40px;
  width:100px;
  border-radius: 9px;
} */

#addToCart{
  z-index:60;
  background-color: rgb(212, 192, 192);
 
}
#addToCart:hover{
  box-shadow: 1px 1px 1px 1px black;
  cursor:pointer
}

.addtocartbuttonclass{
  background-color: rgb(148, 133, 133);
  height:20px;
  width:80px;
  position: relative;
  left:827px;
  bottom:70px;
  z-index:3;
  padding:3px;
  border-radius:7px;
}
.addtocartbuttonclass:hover{
}

