/* #addToCart{

  position: relative;

  z-index:10;
bottom:70px;
left:160px;
  background-color: rgb(197, 191, 191);
  height:40px;
  width:100px;
  border-radius: 9px;
} */

#addToCart{
  z-index:60;
  background-color: rgb(212, 192, 192);
  font-family: ariel;
  font-size: 16px;
 height:30px;
 width:100px;
 position:relative;
 bottom: 70px;
}
#addToCart:hover{
 background-color: rgb(158, 157, 157);
  cursor:pointer
}

.addtocartbuttonclass{

  height:20px;
  width:80px;
  position: relative;
  left:813px;
  bottom:10px;
  z-index:3;
  padding:3px;
  border-radius:7px;
}
.addtocartbuttonclass:hover{
}

