.cartStuff{
    position:relative;
    bottom: 400px;
    z-index:10
}

#myCart{
position: relative;
bottom:280px;
color:rgb(10, 10, 10);
font-family: roboto;
   align-items: center;
   text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                10px 20px 5px rgba(0,0,0,0.05),
                -10px 20px 5px rgba(0,0,0,0.05);
    font-size: 29px;
    font-weight: 100;
  
}

.backgroundContainerCart{
    height:790px;
    background-color: rgba(170, 104, 115, 0.671)
}

/* .greyBack{
height:300px;
width:500px;
border:1px solid rgba(0, 0, 0, 0.466);
position:relative;
left:360px;
bottom:360px;
z-index:-1;
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.438);
border-radius: 3px;

} */

#finalsales{
    color:white;
    position:relative;
    right:130px;
    bottom:50px
}

#rewards{
height:20px;
width:130px;
padding:5px;
background-color: white;
position:relative;
left:885px;

bottom:70px;
}
#rewards:hover{
    background-color:rgb(209, 161, 195);
    cursor: pointer;
}


.greyCheckoutBox{
height:170px;
width:200px;
background-color: rgba(128, 128, 128, 0.596);
position:relative;
left:860px;
bottom:320px;
border-radius: 5px;
border: 1px black solid;
z-index:-1
}

#checkout{
height:40px;
width:100px;
background: white;
position:relative;
font-size:19px;
bottom:40px;
left:240px;
padding:5px;

}

#checkout:hover{
    background-color:rgb(247, 211, 228);
    cursor: pointer;
}

#total{
    position:relative;
    left:230px;
    bottom:140px;
    font-size: 21px;
    text-decoration: underline;
    font-weight: 80;
    color:white
}

#products{
position:relative;
right:230px;
font-size: 20px;
text-decoration: underline;
font-weight: 80;
bottom:350px
}

#price{
    position:relative;
    left:20px;
    bottom:374px;
    font-size: 20px;
    text-decoration: underline;
    font-weight: 80;
    
}
/* <div className='greyBack'>
<p>Products</p>
<p>Price</p>
<div id='rewards'>
<p>Redeem Rewards</p>
</div>     
</div>      

<div className='greyCheckoutBox'>
<p>Total:</p>
<div id='checkout'><p>Checkout</p>
</div>
</div> */