.customBowls{
    background-color: rgb(211, 171, 171);
    height: 320px;
    width:600px;
    margin:auto;
    border-radius: 10px;
    position: relative;
    top: 200px;
}

#custom{
    position: relative;
    top: 180px;
}

#bowl{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#herb{
    position: relative;
    top: 650px;
}

label{
    font-size: 20px;
}