.headerLinks {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    position:relative;
    right: 30px
}

#nav1{
    color:black;
    margin: 90px
}

#nav2{
    color:black;
    margin: 90px
}

#nav3{
    color:black;
    margin:90px
}