.pinkHeader{
    height:187px;
    width:100%;
    background-color:rgba(212, 161, 176, 0.657);
    z-index:-2
}

.greyHeader{
    height:70px;
    width:100%;
    background-color: rgba(160, 150, 150, 0.431);
    position:absolute;
    top:117px;
  
}


.wrapper {
    max-width: 100%;
    overflow: hidden;
  
  }
  
  .marquee {
    white-space: wrap;
    overflow: hidden;
    display: inline-block;
    padding-left:50%;
    margin-top:30px;
    animation: marquee 16s linear infinite;
    
  }

  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  #options{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 800px;
    margin:auto;
    position: absolute;
    left:320px;
    top:16px;
}

#one{
margin-right: 30px
}

#two{
    margin-right: 30px
}

#three{

}

#user{
    position:relative;
    top:10px;
    height: 30px;
    width:30px;
}

.cart{
    margin-top: 64px;
    margin-left:160px
}
a{
  background-color: rgb(114, 170, 163);  
  color:white;
  box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
  padding:10px;
  z-index:5
  }


#logo{
    display:flex;
   position:absolute;
   margin:20px;
   z-index:0
}

#sidebar{
    display: flex;
    margin-left: auto;
    position: relative;
    top:-2200px;
    right:60px;
    z-index:2
}
#sidebar3{
    display: flex;
    margin-left: auto;
    position: relative;
    right:60px;
    top:-310px;
}


.aleut{
    height: 250px;
    width: 300px;
    background-color: rgb(151, 147, 147);
    color:rgb(250, 245, 245);
    border-radius: 60px;
   margin-left: auto;
   z-index:10;
   position:relative;
   bottom:4150px;
    }

#text{
    word-wrap: break-word;
    position: relative;
    top:40px;
    font-size: 20px;
}


.aboutContainer{
    background-color: rgba(0, 0, 0, 0.061);
    width:600px;
    height:190px;
    margin: auto;
    position:relative;
    top: 40px;
    padding:10px;
}
#about{
    font-family: roboto;
    font-size:22px;

}












.headerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 166, 186);
    height: 30px;
    width: 100%;
    margin: auto;
    padding: 15px
    
}


h1{
    font-family: roboto;
   align-items: center;
   margin-top: 70px;
   text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                10px 20px 5px rgba(0,0,0,0.05),
                -10px 20px 5px rgba(0,0,0,0.05)
  
}
.columnBar{
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
    background-color: rgb(250, 126, 115);
    height: 150vh;
    width: 40px;
   margin-left: auto;
   position: relative;
   top: -120px;
   margin-right:70px;
   padding: 40px;
}



/* #sidebar2{
    display: flex;
    margin-right: auto;
    position: relative;
    top: -2790px;
    z-index: 8;
    right:50px;
}
#sidebar4{
    display: flex;
    margin-right: auto;
    position: relative;
    top: -3320px;
    right:50px;
} */

.collapsible1 {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  z-index:100
}
  .option1 .content1 {
    padding: 6px;
    background-color: #eeeeee;
}
.option1 .header1 {
    background-color: #dddddd;
    padding: 6px;
    cursor: pointer;
}



.option1:hover{
    background-color: teal;
}

.option2{
background-color: rgb(114, 170, 163);
position: relative;
top: -140px;
  right:70px;
/* border-radius: 20px; */
color:white;
box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
padding:10px;
}
.collapsible3 {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
    .option3 .content3 {
      padding: 6px;
      background-color: #eeeeee;
  }
  .option3 .header3 {
      background-color: #dddddd;
      padding: 6px;
      cursor: pointer;
  }
.option2:hover{
    background-color: teal;
}
.option3{
    background-color: rgb(114, 170, 163);
    position: relative;
    top: -140px;
  right:40px;
    /* border-radius: 20px; */
    color:white;
    box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
    padding:10px;
    text-align: center;
    z-index:3
}
.option3:hover{
    background-color: teal;
  
}
#forsale{
    display: flex;
    margin-left:100px;
    position: relative;
    top: 380px;
    left: 100px
    
}







.bowlsFlex{
    display:flex;
    justify-content: center;
    position: relative;
    top: 350px;
    left: 160px;
    z-index: 5
}
.bowls{
    height: 150px;
    width: 150px;
    margin: auto;
}

#bowlOne{
    background-color: rgba(128, 128, 128, 0.568);
    width: 160px;
    height:30px;
    padding:20px;
    border-radius: 10px;
}

.bowlsFlexTwo{
    display:flex;
    justify-content: center;
    position: relative;
    top: 280px;
    right:560px
}

.bowlsTwo{
    height: 150px;
    width: 150px;
}

.cardBackground{
   
    background-color: gray;
    height: 140px;
    width: 200px;

}

.cardBackground2{
   
    background-color: gray;
    height: 140px;
    width: 200px;
}

#bowl1{
    margin: 20px;
 
    
   
}

/* .formBlock{
    background-color: rgb(192, 177, 177);
    height: 100px;
    width: 200px;
    position: relative;
    top: 170px;
    left:20px

} */

#bowl2{
    margin: 20px;
}

#bowlTwo{
    background-color: rgba(128, 128, 128, 0.568);
    width: 160px;
    height:30px;
    padding:20px;
    border-radius: 10px;
}

#bowl3{
    margin: 20px;
}

#bowl4{
    margin:20px;
}

#bowl5{
    margin:20px
}

#bowl6{
    margin:20px
}

.register{
    display:flex;
    flex-direction: row;
    margin: auto;
    position:relative;
    right:130px;
    top: 700px;
    
}



/* .grid{
    display:flex;
    justify-content: center;
    margin-left: 80px;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    
} */