.pic{
   background-repeat: repeat-y;
   height: 20vh;
   margin-left: auto;
   position: relative;
   left: 580px;
   z-index: 3;
   top: 100px;
   border-radius: 10px;
   transform: scale(3.9);
   height: 100px;
   width: 30px
}

.headerLinks{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(214, 166, 186);
    height: 30px;
    width: 100%;
    margin: auto;
    padding: 15px
}

h1{
    font-family: roboto;
   align-items: center;
   margin-top: 70px;
  
}
.columnBar{
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
    background-color: rgb(250, 126, 115);
    height: 150vh;
    width: 40px;
   margin-left: auto;
   position: relative;
   top: -120px;
   margin-right:70px;
   padding: 40px;
}

#sidebar{
    display: flex;
    margin-left: auto;
    position: relative;
    top: -420px
}
#sidebar3{
    display: flex;
    margin-left: auto;
    position: relative;
    top: -1620px
}

#sidebar2{
    display: flex;
    margin-right: auto;
    position: relative;
    top: -1620px
}
#sidebar4{
    display: flex;
    margin-right: auto;
    position: relative;
    top: -2820px
}

#options{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 350px;
    margin:auto;
}

.option1{
  background-color: rgb(114, 170, 163);  
  position: relative;
  top: 110px;
  border-radius: 20px;
  color:white;
  box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
  padding:10px;
  
}

.option1:hover{
    background-color: teal;
}

.option2{
background-color: rgb(114, 170, 163);
position: relative;
top: 170px;
border-radius: 20px;
color:white;
box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
padding:10px;
}

.option2:hover{
    background-color: teal;
}
.option3{
    background-color: rgb(114, 170, 163);
    position: relative;
    top: 230px;
    border-radius: 20px;
    color:white;
    box-shadow: 2px 2px 2px 2px rgb(128, 117, 117);
    padding:10px;
    text-align: center;
}
.option3:hover{
    background-color: teal;
}
#forsale{
    display: flex;
    margin-left:100px;
    position: relative;
    top: 380px;
    left: 100px
    
}

.bowlsFlex{
    display:flex;
    justify-content: center;
    position: relative;
    top: 350px;
    left: 160px
}
.bowls{
    height: 150px;
    width: 150px;
    margin: auto;
}

.bowlsFlexTwo{
    display:flex;
    justify-content: center;
    position: relative;
    top: 280px;
    right:560px

   
}

.bowlsTwo{
    height: 150px;
    width: 150px;
    
}


#bowl1{
    margin: 20px;
   
}

/* .formBlock{
    background-color: rgb(192, 177, 177);
    height: 100px;
    width: 200px;
    position: relative;
    top: 170px;
    left:20px

} */

#bowl2{
    margin: 20px;
}

#bowl3{
    margin: 20px;
}

#bowl4{
    margin:20px;
}

#bowl5{
    margin:20px
}

#bowl6{
    margin:20px
}

.register{
    display:flex;
    flex-direction: row;
    margin: auto;
    position:relative;
    right:130px;
    
}

/* .grid{
    display:flex;
    justify-content: center;
    margin-left: 80px;

    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    
} */