.page-container{
   position:relative;
   bottom:150px;
   color:white
}



#userAccountContainer{
    height:810px;
  }
  .backgroundContainerWalnut{
    height:800px;
    width:180.6vh;
    /* background-color: rgba(139, 128, 145, 0.801); */
    background-color: rgba(170, 104, 115, 0.671)
  }

#bowl1{
    position:relative;
    bottom:100px;
}

#walnutBowl{
    position: relative;
    bottom:90px;
}

#userLink{
    z-index:10;
    background-color:white
}

#des{
    color:white;
    position:relative;
    bottom:40px;
}