
.wrapper2 {
  max-width: 100%;
  overflow: hidden;
  position:relative;
  top:600px;
  
}
.marquee2 {
  white-space: wrap;
  overflow: hidden;
  display: inline-block;
 
  margin-top:30px;
  animation: marquee 30s linear infinite;
  
}
@keyframes marquee2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-210%, 0, 0);
  }
}





.oneVideos{
 
}

.twoVideos{

}

#oneVideo{
  height:300px;
}
#twoVideo{
  height:300px;
}
#threeVideo{
  height:300px;
}

#four{
height:310px;

}

#five{
height:310px;
}

#six{
height:320px;
}

#uno{
  display: inline-block;
  position:relative;
  left:20px;
  
}
#dos{
  display: inline-block;
  position:relative;
  left:-70px;
}
#tres{
  display: inline-block;
  position:relative;
  left:-160px;
}

#quatre{
  display: inline-block;
  position:relative;
bottom:347px;
left:700px;

}


#cinc{
  display: inline-block;
  position:relative;
bottom:349px;
left:660px;
}

#sis{
    display: inline-block;
    position:relative;
bottom:345px;
left:640px;
}



#classes{
  position:relative;
  top:300px;
}


li::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em}




  #classesOff{
    position:relative;
    top:390px;
  
  }

  #inline1{
    display:inline;
    position:relative;
    right:100px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
  }
  #inline2{
    display:inline;
    position:relative;
    right:60px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
  }

  #inline3{
    display:inline;
    position:relative;
    right:30px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
  }
  #inline4{
    display:inline;
    position:relative;
    right:10px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
  }
  
#secondClasses{
  position:relative;
    top:410px;
}

#inline5{
  display:inline;
  position:relative;
  right:60px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
}
#inline6{
  display:inline;
  position:relative;
  right:10px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
}
#inline7{
  display:inline;
  position:relative;
  right:90px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:3px;
}


/* .tech-slideshow #one {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  } */
/* .tech-slideshow #two {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
} */

