HTML CSSResult Skip Results Iframe
EDIT ON
.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

}

.tech-slideshow {
  height: 200px;
  width: 3026px;
  /* background: url(https://player.vimeo.com/video/679806687?h=6d0493bf10&autoplay=1&loop=1&title=0&byline=0&portrait=0); */
  /* position: absolute;
  top: 0;
  left: 0; */
  height: 100%;
  transform: translate3d(0, 0, 0);
  position: relative;
  right:900px;
  top:900px;

}

  .tech-slideshow #one {
    animation: moveSlideshow 25s linear infinite;
    /* position:relative;
    right:200px; */
      background-color: rgba(148, 120, 120, 0.43);
  }

  .tech-slideshow #two {
    animation: moveSlideshow 25s linear infinite;
    /* position:relative;
    top:300px;
    right:400px; */
    height:300px;
    background-color: rgba(148, 120, 120, 0.43);
  }


  .tech-slideshow #three {
    animation: moveSlideshow 25s linear infinite;
  
    height:300px;
    background-color: rgba(148, 120, 120, 0.43);
  }
  .tech-slideshow #four {
    animation: moveSlideshow 25s linear infinite;
  
    height:300px;
    background-color: rgba(148, 120, 120, 0.43);
  }
  .tech-slideshow #five {
    animation: moveSlideshow 25s linear infinite;

    height:300px;
    background-color: rgba(148, 120, 120, 0.43);
  }

 
#uno{
  display: inline-block;
}
#dos{
  display: inline-block;
}
#tres{
  display: inline-block;
}

#quatre{
  display: inline-block;
  /* height:100px;
  width:200px;
  position: relative;
  right:500px; */
}


#cinc{
  display: inline-block;
  
}
/* .tech-slideshow:hover #two {
  opacity: 1;
} */
/* .tech-slideshow:hover #one {
    opacity: 1;
  } */

@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}


#classes{
  position:relative;
  top:300px;
}


li::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em}


  #classesOff{
    position:relative;
    top:400px;
    

  }

  #inline0{
    display:inline;
    position:relative;
    right:100px;
  }
  #inline1{
    display:inline;
    position:relative;
    right:60px;
  }

  #inline2{
    display:inline;
    position:relative;
    right:30px;
  }
  #inline3{
    display:inline;
    position:relative;
    right:10px;
  }



/* .tech-slideshow #one {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  } */
/* .tech-slideshow #two {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
} */


