
.allclassstuff{
  position:relative;
  bottom:300px;
}
.wrapper2 {
  max-width: 200%;
  overflow: hidden;
  position:relative;
  top:600px;
  
}
.marquee2 {
  white-space: wrap;
  overflow: hidden;
  display: inline-block;
 
  margin-top:30px;
  animation: marquee 10s linear infinite
  
}
@keyframes marquee2 {
  0% {
    transform: translate3d(10, 0, 0);
  }
  100% {
    transform: translate3d(-180%, 0, 0);
  }
}




.oneVideos{
 
}

.twoVideos{

}

#oneVideo{
  height:300px;
}
#twoVideo{
  height:300px;
}
#threeVideo{
  height:300px;
}

#four{
height:310px;

}

#five{
height:310px;
}

#six{
height:320px;
}

#uno{
  display: inline-block;
  position:relative;
  left:-130px;
  
}
#dos{
  display: inline-block;
  position:relative;
  left:-250px;
}
#tres{
  display: inline-block;
  position:relative;
  right:370px;
}

#quatre{
  display: inline-block;
  position:relative;
bottom:347px;
left:460px;

}


#cinc{
  display: inline-block;
  position:relative;
bottom:349px;
left:400px;
}

#sis{
    display: inline-block;
    position:relative;
bottom:345px;
left:450px;
}



#classes{
  position:relative;
  top:300px;
}


li::before {content: "•"; color: red;
  display: inline-block; width: 1em;
  margin-left: -1em}




  #classesOff{
    position:relative;
    top:390px;
    left:65px;
  
  }

  #inline1{
    display:inline;
    position:relative;
    right:100px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
  }
  #inline2{
    display:inline;
    position:relative;
    right:60px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
  }

  #inline3{
    display:inline;
    position:relative;
    right:30px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
  }
  #inline4{
    display:inline;
    position:relative;
    right:0px;
    font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
  }
  
#secondClasses{
  position:relative;
    top:440px;
    left:60px;
}

#inline5{
  display:inline;
  position:relative;
  right:50px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
}
#inline6{
  display:inline;
  position:relative;
  right:10px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
}
#inline7{
  display:inline;
  position:relative;
  right:90px;
  font-family: roboto;
    background-color:teal;
    color:white;
    font-size:19px;
    padding:8px;
    border-radius:6px;
    box-shadow: 1px 1px 1px 1px rgb(109, 103, 103);
}

#inline1:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline2:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline3:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline4:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline5:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline6:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
#inline7:hover{
  box-shadow: 2px 2px 2px 2px rgb(109, 103, 103);
}
/* .tech-slideshow #one {
    opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  } */
/* .tech-slideshow #two {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
} */

